
.faq-heading {
    
    font-weight: 400;
    font-size: 19px;
    text-indent: 20px;
    color:red;
  }
  
  .faq-text {
    
    font-weight: 400;
    color: #919191;
    width:95%;
    padding-left:20px;
    margin-bottom:30px;
    margin-top: 15px;
  }
  
  .faq {
    width: 1000px;
    margin: 0 auto;
   
    border-radius: 4px;
    position: relative;
    margin: 0 auto;
    opacity: 90%;
    top:50px;
    padding-top:70px;
  }
  

  h1{
    text-align: center;
    margin-top: 80px;
    font-size: 70px;

  }




  .faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top:1px;
   
    background-color: #FAFAFA;
    border-bottom: 1px solid #E1E1E1;
  }
  
  .faq input[type="checkbox"] {
    display: none;
  }
  
  
  
   .faq input[type="checkbox"]:checked + label {
    display: block;
    background: rgba(255,255,255,255) !important;
    color: #4f7351;
    height: 225px;
    transition: height 0.8s;
   
  }
  
   .faq input[type='checkbox']:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    height: 40px;
    
  }
  
  .fondo_faq{
    background-image: url("./../imagenes/register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 900px;
    opacity: 60%;
  
  } 


  /*Media Queries*/
@media (max-width: 768px) {
  .faq {
    float: none;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) 
   
  }
  
  
}

@media (max-width: 375px) {
  .faq {
    float: none;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 0;
    position: absolute;
    top: 70px;
    
  }

 
   
   .faq input[type='checkbox']:not(:checked) + label {
    display: block;
    transition:  0.8s;
    height: 35px;
    
  }
  
  .fondo_faq{
    height: 600px;
    opacity: 60%;
  
  } 

  .faq-heading {
    font-size: 16px;
  }
  
  


}