@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');



.header {
    height: 50px;
    
}




.title {
    font-family:'Montserrat', sans-serif;
    color:red;
    text-decoration: none;
    padding: 10px 0 0 20px;
    float: left;
    font-size:x-large;
}






.top-nav-right{

    float: right;
}


.linkitem {
    
    padding: 15px;
    text-decoration: none;    
    color: black;   
    float: left;
    text-align: center;
    padding: 14px 16px;
}

.linkitem:hover {
    background; white;
    color: red;
    cursor: pointer;
}




.portada_register{
   position: relative;
}


.fondo_register{
    background-image: url("./../imagenes/register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 900px;
    opacity: 70%;
  
  }  

.form-wrap{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: gray;
    margin:auto;
    margin-top: 180px;
    padding: 20px 30px;
    border-top: 4px;
    color: white;
    box-sizing: border-box;
    text-align: center;
    
  

}



.portada_register h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 30px;

}

.controls2{
    width: 100%;
    border:1px;
    margin-bottom:15px;
    padding: 15px 8px;
    font-size:14px;
    font-weight: bold;
   

}

.buttons2{
    width: 100%;
    height: 40px;
    border: none;
    padding: 15px 8px;
   
}

