@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  text-align: center;
 
}

.header {
  height: 50px;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: red;
  text-decoration: none;
  padding: 10px 0 0 20px;
  float: left;
  font-size: x-large;
  transition: font-size 2s;
}




.top-nav-right {
  float: right;
}

.linkitem {
  
  text-decoration: none;
  color: black;
  float: left;
  font-size:large;
  text-align: center;
  padding: 14px 18px;
  margin-right: 20px;
  font-weight:bold ;
  font-family: "Roboto Condensed", sans-serif;
  
}

.linkitem:hover {
  background: white;
  color: red;
  cursor: pointer;
}

.portada {
  position: relative;
  /*z-index: -1000;*/
}

.portada_img {
  background-image: url("./../imagenes/portada2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.portada-wrapper {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 0;
}

.contenedor {
  background-color: grey;
  padding: 10px;
  opacity: 90%;
 
}

.titulo_portada {
  color:white;
  font-size: 40px;
 
}

.texto_portada {
  color: white;
  font-size: 30px;
}

.login-form{
  float: right;
}

.form-login {
 
  
  padding: 20px;
  
}


.buttons {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #f2f2f2;
}

.moreinformation-boton {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #f2f2f2;
}

input{
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;

}

.info-container{
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 0 auto

}

.info_main{
  width: 95%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding:30px 100px;

}


.info_main h3{
  font-size: 40px;
  color:gray;
  text-align: center;
}

.info_main p {
  padding: 20px 0;
}

.info_main a {
 display: inline-block;
 background: rgb(218, 218, 218) ;
 color: grey;
 text-decoration: none;
 padding: 12px 20px;

}

.contenedor-carousel{
  padding: 50px;
 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d43a19' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
}


.titulorandom{

  font-size: 100px;
  text-align: left;
  color: gray;
  
}

span{
  color: red;
}






.carousel-inner{
max-width: 500px;
min-width: 80px;
border-style: solid;
border-radius: 40px;
border-color: rgb(97, 89, 76);
margin: 0 auto;




}




footer {
  width: 100%;

}

.footer_container {
  width: 100%;
  background: grey;
  color: white;
  
}

.footer_main {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  padding:50px 0;
  display: flex;
  flex-wrap: wrap;
  

}

.footer_main .footer_columna {
  width: calc(100% /2);
  text-align: justify;

}


.footer_main .footer_columna:nth-child(2){
  width: calc(100% /2);
  text-align: justify;
  padding: 0 20px;

}

.footer_main .footer-columna h2 {
  margin-bottom: 20px;
}

.footer_main .footer_columna input[type="email"] {
  border: none;
  width: 30%;
  border: 1px;
  height: 30px;
  padding: 10px;
  font-size: 14px;

}

.footer_main .footer_columna input[type="submit"] {
  border: none;
  padding: 10px 40px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;

}





.resultado{
  display: flex;
  flex-wrap: wrap;
  
}




/*Media Queries*/
@media (max-width: 768px) {
  .form-login {
    float: none;
    width: 80%;
   
  }
  .portada-wrapper {
    left: 50%;
   
  }
   

  .titulorandom{
    
    font-size: 70px;
    text-align: center;
    color: gray;
  
    
  }
}
  



